<div id="loadingTheForm">

  <h1 class="center">Edit Task</h1>

  <div class="ui horizontal divider"></div>
  <div class="ui relaxed celled list">
      <div class="item">
        <br>
        <div class="content">

          <div class="caps small-header">Edit task</div><br>

          <%= render 'form' %>

        </div>

        <br>
        <%#= link_to "<< Back to list", team_tasks_path(@team) %>
        <br>
        <br>
      </div>
    </div>
</div>
