<h1 class="center small-space">Edit Task</h1>

<div class="ui horizontal divider"></div>



<div class="ui relaxed celled list">
    <div class="item">
      <br>
      <div class="content">
        <div class="header">Edit task:</div><br>
        <%= render 'form' %>
      </div>
      <br>
    </div>

</div>
