body {
  background-color: #4ccbc5 !important;
  height: 100%;
  z-index: -1;
}

#text-container {
  background-color: rgba(255, 255, 255, 0.4) !important;
  opacity: 1;
  padding: 3em;
}

#nav-bar {
  background-color: rgba(0, 181, 173, .8) !important;
  opacity: 1;
  z-index: 1;
  position: relative;
  width: 100%;
}

input[type="text"], textarea, #menu {
  background-color : rgba(255, 255, 255, 0.4) !important;
}

a.teal {
  color: #00B5AD !important;
}

.vertical-space {
  margin-top: 25% !important;
}

.small-space {
  margin-top: 2em !important;
}


.center {
  text-align: center;
}

.red {
  background-color: rgba(181, 0, 8, 0.4) !important;
}

.green {
  background-color: rgba(181, 173, 0, 0.6) !important;
}

.blue {
  background-color: rgba(0, 98, 181, 0.6) !important;
}

button.red, button.white {
  opacity: .5;
}

.small-header {
  font-size: 1em;
  color: #00B5AD !important;
  margin-bottom: .2em;
}

.caps {
  text-transform: uppercase;
}

.small {
  font-size: .7em;
  margin-top: .6em;
  text-align: right;
}

.italic {
  font-style: italic;
}

.close {
  margin-top: -.4em;
}

.floating {
  float: right;
}

.inline {
  display: inline;
}
