<div class="item">
  <br>
  <div class="content">
    <div class="header"><%= pair_request.user.name %> needs a parter for <%= pair_request.project %></div><br>
    <%= pair_request.info %>
  </div>
  <br>
</div>
