<h1 class="center small-space">Welcome, <%= current_user.name %>!</h1>
<div class="ui horizontal divider">find your FlatCollaborator below</div>

  <div class="ui relaxed celled list">
    <%= render @requests %>
    <%= render 'pair_requests/form' %>
  </div>
